# Django
django

# Django REST
djangorestframework
django-cors-headers
djangorestframework-simplejwt
django-filter

# Swagger/OpenAPI
drf-spectacular

# Database
psycopg2

# Debug in VSCode
debugpy

# Environment variables
python-dotenv

# Image field
Pillow

# For calling external APIs
requests

# WSGI Server
gunicorn

# For serving static files
whitenoise

tqdm