# Django
django
django-cors-headers
django-filter

# Django REST
djangorestframework
djangorestframework-simplejwt
drf-flex-fields
drf-extra-fields

# Swagger/OpenAPI
drf-spectacular

# Database
psycopg2

# Debug in VSCode
debugpy

# Environment variables
python-dotenv

# Image field
Pillow

# For calling external APIs
requests

# WSGI Server
gunicorn

# For serving static files
whitenoise

tqdm