<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    To reset your password, enter the verification code belowon the Reset Password screen.
    You must then enter a new password on next screen, and re-enter the new password to verify
    that you have typed it correctly: {{code}}
  </div>

</body>

</html>

<style></style>